@media(max-width: 1008px) {
  .row2 {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .col-wrap-alignment {
    align-self: center;
  }
}

@media(max-width: 1010px) {
  .row3 {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .col-wrap-alignment-publications {
    align-self: center;
  }
}


.row3 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.nav-tabs {
  justify-content: center;
}


h1 {
  margin-top: 20px;
  color: #121212;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


h3 {
  color: lightcoral;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


h2 {
  color: lightcoral;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


p {
  color: black;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


li {
  color: black;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.app-description-text {
  text-align: center;
  font-style: italic;
  color: lightcoral;
  letter-spacing: 3px;
  margin-top: 20px;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.app-titles {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}


.app-github {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}


a {
  color: lightcoral;
}

a:hover {
  text-align: center;
  color: #999;
}


.border {
  margin-top: 20px;
  box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.pictures {
  box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.border-bottom {
  margin: 20px;
  text-align: center;
  color: #999;
  font-size: x-large;
  letter-spacing: 3px;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.border-bottom-writing {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  color: #999;
  font-size: large;
  letter-spacing: 3px;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.gd {
  color: black;
  font-size: 120%;
  text-align: center;
}


.menuitem {
  color: black;
  font-size: 120%;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.menuitem:hover {
  color: lightcoral;
}


.tab-section {
  padding-top: 20px;
  padding-bottom: 40px;
  border: 1px black;
}


.blog-post-title {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-align: center;
}


.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.hidden {
  display: none;
}


.btn-link:hover {
  color: lightcoral;
}


.btn {
  color: black;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.btn-secondary {
  border: grey;
  background-color: lightcoral;
}


.fa-instagram {
  background: #125688;
  color: white;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa:hover {
  opacity: 0.7;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}


.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.myImg:hover {
  opacity: 0.7;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}


/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}


@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


.thanksgiving {
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}


div.gallery:hover {
  border: 1px solid #777;
  color: lightcoral;
}


div.gallery img {
  width: 100%;
  height: auto;
}


.article-position {
  text-align: center;
  color: black;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.publications {
  letter-spacing: 3px;
  color: black;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.publications:hover {
  color: lightcoral;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


.border-publications {
  width: 300px;
  height: 380px;
  margin-top: 20px;
  box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


div.desc {
  padding: 15px;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.campaign {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.contact-address, .contact-phone, .contact-github, .contact-icons {
  text-align: center;
}